

* {
    box-sizing: border-box;
}

body {
background: lightblue;
     
}

#header {
    font-size: 40px;
    font-weight: 800;
}

main{
    margin: 100px auto;
    width: 75%;
    text-align: center;
    border: black 2px solid;
    padding: 50px;
    border-radius: 40px;
    background: -webkit-linear-gradient(rgba(241, 171, 6, 0.815),orange );
    font-family: arial;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px 2px;

}


 .selection {
     margin: auto;
     padding: 20px;    
 }

button {
    margin: 15px;
    height: 50px;
    width: 100px;
    font-size: 30px;
    background: limegreen;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    background: lightseagreen;
}